body{
    background-color: greenyellow;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornsilk;
    color: rgb(39, 0, 255);
}
#show_sketch{
    float: right;
}